<div ng-controller="authorizationController">
    <div class="center-container">
        <div class="col-sm-4">
            <form name="registerForm" method="post" class="form-horizontal">
                <input ng-model="user.Login" required placeholder="Логин" class="form-control" />
                <br />
                <input ng-model="user.Password" type="password" required placeholder="Пароль" class="form-control" />
                <br />
                <input ng-model="user.ConfirmPassword" type="password" required placeholder="Подтвердите пароль" class="form-control" />
                <br />
                <button type="submit" ng-click="register(user, registerForm)" class="btn btn-block btn-default">Регистрация</button>
            </form>
        </div>
    </div>
</div>